each result, query in results
  h3= query
  each section, id in sections
    if result[id].rows.length > 0
      h4= section.title
      table
        thead
          tr
            th(style=css.th) #
            each item in section.columnTitles
              if item.show
                th(style=css.th)= item.title
        tbody
          each row, i in result[id].rows
            tr
              td(style=css.td)= i + 1
              each item, i in section.columnTitles
                if item.show
                  td(style=css.td)!= row.cell[item.cellIndex]

    each name in result[id].errors
      p Eroare la extragerea datelor pentru:
      ul
        li= name
